.fade-enter {
  opacity: 0;
  transform: translateX(30px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 500ms ease-in-out;
}
