@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto ;
  padding: 0 16px ;
}
.bg-primary-blue-color {
  background-color: #004f98 !important;
}
.bg-secondary-blue-color {
  background-color: #0d6cec !important;
}
.text-primary-red-color {
  color: #ee2e31 !important;
}
.text-secondary-black-color {
  color: #0b0b0b !important;
}
.border-primary-blue-color {
  border: 1px solid #004f98 !important;
}